.discover-header {
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  min-height: 30vh;
  color: #fff;
}
.discover-title h4 {
  opacity: 0.3;
  font-size: 18px;
  /* margin: 10; */
  margin-bottom: 8px;
}
.discover-title h1 {
  margin: 0;
}

.discover-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.gradient {
  height: 350px;
  padding: 0 5%;
  padding-top: 30px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background: #8a2387; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #f27121,
    #e94057,
    #8a2387
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #f27121,
    #e94057,
    #8a2387
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.waves {
  position: absolute;
  left: 0;
  bottom: 0;
  /* right: 0; */
  /* width: 100% !important;
  height:150px; */
}

/* .waves .path{
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
} */

.discover-content {
  position: relative;
}
.slider-content {
  /* overflow: hidden !important; */
  position: relative;
  width: 120% !important;
  max-width: 380px;
  height: 50vh;
  max-height: 550px;
  margin: 0 20%;
  padding: 0 4px;
  /* border-radius: 15px; */
}
/* .slick-slide{
  width: 280px !important;
  height:400px !important;
} */

.carousel {
  /* transform: translateY(-40%); */
  width: 100%;
  /* background-color: #fff !important; */
  overflow: hidden !important;
  margin: 0 auto;
  margin-bottom: 200px;
  border-radius: 20px;
}

.slider-content img {
  margin: 0 auto;
  max-width: 500px;
  /* width: 280px !important;
  height:400px !important; */
  height: 90%;
  object-fit: cover;
  border-radius: 15px;
  position: relative;
}

.black-gradient {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1)
  );
  margin: 0 auto;
  max-width: 500px;
  height: 80%;
  width: 80%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 90%;

  border-radius: 15px;
}

.slider-content img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

.text {
  position: absolute;
  color: white;
  left: 17.3%;
  font-weight: 700;
  bottom: 20%;
  width: 70%;
  max-width: 75%;
  height: auto;
  font-size: 22px;
}

.slider-content:focus {
  outline: none;
}
.dotClass {
  display: flex !important;
  font-size: 2rem;
  list-style: none;
  align-items: center;
  justify-content: center;
  margin-left: -7%;
}
.dotClass li {
  margin: 0 20px;
  /* background-color: black !important; */
  height: 10px;
  width: 10px;
}
.dotClass > li > button {
  box-sizing: border-box;
  /* background-color: black; */
  border-radius: 99999px;
  cursor: pointer;
  height: 15px;
  width: 15px;
  text-indent: 99999px;
  border: none;
  border: 2px solid #000;
}

.dotClass > li.slick-active > button {
  background-color: black;
}

.dotClass > li > button:focus {
  outline: none;
}

.sources {
  transform: translateY(-20%);
  padding: 5%;
  padding-top: 0;
}
li.MuiListItem-gutters {
  padding-left: 0 !important;
}
.MuiListItemText-root.MuiListItemText-multiline {
  margin-top: 0 !important;
}
.MuiTypography-root.MuiListItemText-secondary.MuiTypography-body2.MuiTypography-colorTextSecondary.MuiTypography-displayBlock {
  width: 75%;
}
.source-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.source-heading h2 {
  font-weight: 800;
}

.must-see {
  transform: translateY(-30%);
  padding: 0 5%;
  position: relative;
}
.must-see-card {
  height: 300px;
  /* width: 400px !important; */
  position: relative;
  transition: transform 0.1s ease-in-out;
}
.must-see-card:focus {
  outline: none;
  transform: scale(0.89);
}
.must-see-header h2 {
  font-weight: 800;
  font-size: 22px;
  margin-bottom: 3rem;

  /* background: #8a2387 */
}
.must-see-content {
  overflow: hidden;
}

.must-see-card-img {
  width: 90%;
  max-width: 500px;
  border-radius: 10px;
  height: 100%;
  object-fit: cover;
  margin: 0 auto !important;
}
.must-see-overlay {
  width: 90%;
  max-width: 500px;
  border-radius: 10px;
  margin: 0 auto !important;
  height: 100%;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1)
  );
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.must-see-text {
  position: absolute;
  bottom: 30px;
  color: white;
  font-size: 20px;
  left: 40%;
  transform: translateX(-40%);
  font-weight: 700;
  width: 65%;
}
.popular {
  transform: translateY(-15%);
}

@media (min-width: 900px) {
  .carousel {
    /* transform: translateY(-100%); */
  }
  .slider-content img {
    max-width: 300px;
  }
  .gradient {
    height: 600px;
  }
  .text {
    position: absolute;
    color: white;
    left: 16%;
    bottom: 18%;
    /* width: 80%; */
    width: 68%;
    font-size: 22px;
  }
  .sources {
    transform: translateY(-35%);
    padding: 5%;
  }
  .must-see-text {
    left: 45%;
    /* transform: translateX(-55%); */
    /* border-image-width: */
    width: 35%;
  }
  .must-see {
    /* transform: translateY(-20vw); */
    padding: 0 5%;
    position: relative;
  }
  .listCard-discover {
    /* transform: translateY(-45vh) !important; */
  }
  .popular {
    transform: translateY(-7%);
  }
}
